doctype html
html
    head
        title Javascript Lesson 1
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="/style.css")

        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="/script.js")

    body
        #Alert.hide
           .alert.alert-warning.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×
            strong Warning!
            |  Tentukan tujuan pengiriman anda!

        .wrapper
            form.form-horizontal
                div
                    .form-group
                        label.col-sm-3.control-label Tujuan
                        .col-sm-9
                            select#destinations.form-control
                                option(value="") Tujuan
                                option(value="aceh") Aceh
                                option(value="bandung") Bandung
                                option(value="banten") Banten
                                option(value="jakarta") Jakarta
                                option(value="makassar") Makassar

                    .form-group
                        label.col-sm-3.control-label Jasa Pengiriman
                        .col-sm-9
                            label.radio-inline
                                input(type="radio" name="pengiriman" value="50000")
                                | JNE Reg

                            label.radio-inline
                                input(type="radio" name="pengiriman" value="60000")
                                | JNE Oke

                            label.radio-inline
                                input(type="radio" name="pengiriman" value="70000")
                                | JNE Yes

                div: hr
                h3 Results
                table.table.table-striped
                    thead
                        tr
                            th Tujuan
                            th Ongkir
                    tbody
                        tr
                            td: span#tujuan
                            td: span#ongkir

                hr
                button.btn.btn-default.btn-md Submit